<nav th:fragment="nav-bar" class="navbar navbar-light" id="navegador">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/img/Lavasecos.png" alt="" width="8%" height="10%">
        </a>
        <div class="position-relative"></div>
        <div class="position-absolute top-1 end-0">
            <a class="navbar-brand" th:href="@{/pedido}">
                <img src="/img/CASITA_preview_rev_1.png" alt="" width="30%">
            </a>
        </div>
    </div>
</nav>