body {
    background-color: #90C8C5;
    font-family: 'Rubik', sans-serif;
}

nav {
    background-color: #90C8C5;
}

#desplegable {
    margin-bottom: 12rem;
}

nav div a {
    color: white;
}

#boton-desplegable {
    width: 50rem;
    margin-top: 2rem;
    background-color: rgb(230,230,230,0.4);
    border: none;
    border-radius: 0.7rem;
    height: 4rem;
}

#menu-dropdown {
    width: 50rem;
    border: none;
    background-color: transparent;
}

#menu-dropdown li a button {
    width: 50rem;
    margin-bottom: 0.3rem;
    background-color: rgb(230,230,230,0.4);
    border: none;
    border-radius: 1rem;
}



#logo {
    padding-top: 1rem;
    padding-left: 1rem;
}

#bottom-button {
    color: black;
    font-weight: 450;
    font-size: 1.8rem;
    margin-top: 2rem;
    background-color: rgb(151,148,148,0.4);
    border: none;
    border-radius: 1rem;
}

body nav div {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

body nav div h1 {
    color: white;
    text-decoration: none;
    font-size: 3.5rem;

} 
