<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="icono.min.css">
        <link rel="stylesheet" href="https://icono-49d6.kxcdn.com/icono.min.css">
        <link rel="stylesheet" href="/css/descripcion.css">

        <title>CLIENTE</title>
    </head>

    <body>
        <nav class="navbar navbar-light" id="navegador">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="/img/Lavasecos.png" alt="" width="8%" height="10%">
                </a>

                <div class="position-absolute top-2 start-50 translate-middle-x">
                    <h1> CLIENTE </h1>
                </div>

                <div class="position-relative"></div>
                <div class="position-absolute top-1 end-0">
                    <a th:href="@{/pedido}" class="navbar-brand" href="#">
                        <img src="/img/CASITA_preview_rev_1.png" alt="" width="30%">
                    </a>
                </div>
            </div>

        </nav>
        <br>
        <br>
        <div style =" margin-left:2%;margin-right: 2%">
            <p th:text="${cliente.nombre}+' '+ ${cliente.apellido}" >

            <table class="table table-hover">

                <thead>
                    <tr>
                        <th>tipo</th>
                        <th>descripcion</th>
                        <th>precio</th>
                    </tr>
                </thead>
                <tbody>

                    <tr th:each="p, iterator: ${pedidos} "> 
                        <td th:text="${p.prenda.tipo}"></td>
                        <td th:text="${p.prenda.detalle}"></td>
                        <td th:text="${p.precio}"></td>

                    </tr>
                </tbody>
                
            </table>
            <p th:if="${pedidos.isEmpty}">NO HAY PEDIDO QUE MOSTRAR </p>
        </div>




        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous">
        </script>
    </body>

</html>