<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="icono.min.css">
    <link rel="stylesheet" href="https://icono-49d6.kxcdn.com/icono.min.css">
    <link rel="stylesheet" href="/css/descripcion.css">

    <title>CLIENTE</title>
</head>

<body>
    <header>
        <nav th:replace="/fragments/nav-bar :: nav-bar"></nav>
    
    </header>
    <br>
    <br>
    <ul>
       <!-- <li th:each="pepe: ${cliente}" th:tex="${pepe.tipo}" +' '+ th:tex="${pepe.descripcion}"+' '+ th:tex="${pepe.precio}" ></li> -->
    </ul>
    <div class="container-fluid">
        <table class="table table-striped">
            <div class="row">
                <div>
                    <thead>
                        <tr>
                            <th>tipo</th>
                            <th>descripcion</th>
                            <th>precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="p, iterator: ${cliente} ">
                            <td th:text="${iterator.index+1}"> </td>
                            <td th:text="${p.prenda.tipo}"></td>
                            <td th:text="${p.prenda.detalle}"></td>
                            <td th:text="${p.precio}"></td>
    
                        </tr>
                    </tbody>
                    <P th:if="${personas.isEmpty}">NO HAY PEDIDO QUE MOSTRAR </P>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
    </script>
</body>

</html>