<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/estilo-pedido.css">
    <link rel="stylesheet" href="icono.min.css">
    <link rel="stylesheet" href="https://icono-49d6.kxcdn.com/icono.min.css">

    <title>Pedido</title>
</head>

<body>

    <header>
        <nav th:replace="/fragments/nav-bar :: nav-bar"></nav>
    </header>
    <br>
    <br>



    <div class="container">
        <form th:action="@{/pedido/save}" th:object="${pedido}" method="POST">
            <div class="row">
                <div class="col">

                    <div class="input-group">

                        <input hidden th:value="${idCliente}" name="idCliente">
                        <input hidden th:value="${accion}" name="accion">
                        <label for="exampleDataList" class="form-label"> </label>
                        <input type="text" th:field="*{prenda.tipo}" class="form-control" list="datalistOptions"
                            id="exampleDataList" placeholder="Tipo de Prenda">
                        <datalist id="datalistOptions">
                            <option value="Pollera">
                            <option value="Pantalon">
                            <option value="Camisa">
                            <option value="Vestido">
                            <option value="Buzo">
                        </datalist>
                        <div class="col-6">
                            <div class="input-group">
                                <label for="exampleDataList" class="form-label"> </label>
                                <input type="text" th:field="*{prenda.detalle}" class="form-control"
                                    list="datalistOptions-1" id="exampleDataList" placeholder="Detalle:">
                                <datalist id="datalistOptions-1">
                                    <option value="Mancha">
                                    <option value="Color">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                <input type="number" th:field="*{precio}" class="form-control"
                                    aria-label="Amount (to the nearest dollar)">
                            </div>
                        </div>
                    </div>
                    <input hidden type="submit" id="mas">

                </div>
            </div>
        </form>
    </div>



    <li th:each="p:${pedidos}" style="list-style: none; margin-top: 1rem">
        <div class="input-group container">

            <label for="exampleDataList" class="form-label"> </label>
            <input readonly type="text" class="form-control" list="datalistOptions" id="exampleDataList"
                th:placeholder="${p.prenda.tipo}">
            <div class="col-6">
                <div class="input-group">
                    <label for="exampleDataList" class="form-label"> </label>
                    <input readonly type="text" class="form-control" list="datalistOptions-1" id="exampleDataList"
                        th:placeholder="${p.prenda.detalle}">
                </div>
            </div>
            <div class="col-3">

                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input readonly type="number" class="form-control" aria-label="Amount (to the nearest dollar)"
                        th:placeholder="${p.precio}">
                </div>
            </div>
        </div>
        </div>
    </li>
    <div class="position-relative">
        <div id="icono" class="position-absolute top-2 start-50 translate-middle">
            <button class="boton" onclick="submitMas()">
                <i id="icono-i" class="icono-plus"> </i>
            </button>
        </div>
    </div>

    <div class="position-relative">

        <div class="position-absolute bottom-0  top-0  end-0">
            <img id="img" class="rounded float-end" width="40%" src="/img/burbuja.png" alt="">
        </div>

        <div id="img2" class="position-absolute bottom-0  top-0 star-0">
            <img class="rounded float-star" src="/img/burbuja.png" width="40%" alt="">
        </div>

    </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script>
        submitMas = () => {
            document.getElementById("mas").click();
        }
    </script>
</body>

</html>