<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style-pedidos-paso1.css">
</head>
<body>
    <nav class="navbar">
        <div>
            <img id="logo" src="/img/Lavasecos.png" alt="menu" width="10%" height="10%">
        </div>
    </nav>

    <main>

        <form class="barra-busqueda">
            <button class="btn btn-outline-success btn-buscar" type="submit">Buscar</button>
            <input class="form-control me-2 input-buscar" type="search" placeholder="">
        </form>

        <div class="tabla-de-botones">

            <button id="cliente-button" type="button" class="btn">Cliente <br> #26910829</button>
            <button id="cliente-button" type="button" class="btn">Cliente <br> #12210829</button>
            <button id="cliente-button" type="button" class="btn">Cliente <br> #13510829</button>
            <button id="cliente-button" type="button" class="btn">Cliente <br> #33566629</button>
            <button id="cliente-button" type="button" class="btn">Cliente <br> #53550829</button>
            <button id="cliente-button" type="button" class="btn">Cliente <br> #23410829</button>
            <button id="cliente-button" type="button" class="btn">Cliente <br> #33566629</button>
            <button id="cliente-button" type="button" class="btn">Cliente <br> #53550829</button>
            <button id="cliente-button" type="button" class="btn">Cliente <br> #23410829</button>
            <button id="cliente-button" type="button" class="btn">Cliente <br> #13510829</button>
            
        </div>
    </main>
</body>
</html>