<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style-pedidos-paso1.css">
    </head>
    <body>
        <header>
            <nav th:replace="/fragments/nav-bar :: nav-bar"></nav>
        </header>

        <main>

            <form class="barra-busqueda" th:action="@{/cliente/list}" method="GET">
                <button class="btn btn-outline-success btn-buscar" type="submit">Buscar</button>
                <input class="form-control me-2 input-buscar" type="search" placeholder="" name="q">
            </form>
            <div class="tabla-de-botones">
                <button th:if="${error}" th:text="${error}" id="cliente-button" type="button" class="btn" style="width: 50%"></button>
                <li th:each="c:${clientes}" style="list-style: none">          
                    <button th:unless="${error}" id="cliente-button" type="button" class="btn" style="width: 100%">Cliente <br> <p th:text="${c.documento}"></p></button>
                </li>
            </div>

        </main>
    </body>
</html>